<h2>Lista de categorias</h2>

{{#each estagiarios}}
    <div class="card mt-4">
        <div class="card-body">
            <h2>{{nome}}</h2>
            <h5>dataNascimento: {{dataNascimento}}</h5>
            <h5>registroAcademico: {{registroAcademico}}</h5>
            <h5>curso: {{curso}}</h5>
            <h5>turno: {{turno}}</h5>
            <h5>cedulaDeIdentidade: {{cedulaDeIdentidade}}</h5>
            <h5>cpf: {{cpf}}</h5>
            <h5>nacionalidade: {{nacionalidade}}</h5>
            <h5>estadoCivil: {{estadoCivil}}</h5>
            <h5>cidade: {{cidade}}</h5>
            <h5>estado: {{estado}}</h5>
            <h5>cep: {{cep}}</h5>
            <h5>fone: {{fone}}</h5>
            <h5>email: {{email}}</h5>
            <small>Data de criação: {{registerDate}}</small>
            <br>
        </div>
    </div>
{{else}}
    <h4 class="mt-3">Nenhuma categoria registrada</h4>
{{/each}}