<h3>Novo estágio</h3>
<div>
    <div>
        <form action="/estagios/cadastro/novo" method="POST">
            <label for="nome">Natureza: </label>
                <input type="text" id="natureza" name="natureza" placeholder="natureza" class="form-control-plaintex" value={{natureza}}>
            <br>
            <label for="vigenciaInicial">Vigencia Inicial: </label>
                <input type="text" id="vigenciaInicial" name="vigenciaInicial" placeholder="dd/mm/AAAA" class="form-control-plaintex" value={{vigenciaInicial}}>
            <br>
            <label for="vigenciaFinal">Vigência Final: </label>
                <input type="text" id="vigenciaFinal" name="vigenciaFinal" placeholder="dd/mm/AAAA" class="form-control-plaintex" value={{vigenciaFinal}}>
            <br>
            <label for="dias">Dias: </label>
                <input type="text" id="dias" name="dias" placeholder="dias" class="form-control-plaintex" value={{dias}}>
            <br>
            <label for="horario">Horário: </label>
                <input type="text" id="horario" name="horario" placeholder="horario" class="form-control-plaintex" value={{turno}}>
            <br>
            <label for="qtdhorasDiarias">Horas diárias: </label>
                <input type="text" id="qtdhorasDiarias" name="qtdhorasDiarias" placeholder="horas diárias" class="form-control-plaintex" value={{cedulaDeIdentidade}}>
            <br>
            <label for="qtdHorasSemanais">Horas semanais: </label>
                <input type="text" id="qtdHorasSemanais" name="qtdHorasSemanais" placeholder="horas semanais" class="form-control-plaintex" value={{cpf}}>
            <br>
            <label for="local">Local: </label>
                <input type="text" id="local" name="local" placeholder="local" class="form-control-plaintex" value={{nacionalidade}}>
            <br>
            <label for="supervisor">Supervisor: </label>
                <input type="text" id="supervisor" name="supervisor" placeholder="supervisor" class="form-control-plaintex" value={{estadoCivil}}>
            <br>
            <label for="cargo">Cargo: </label>
                <input type="text" id="cargo" name="cargo" placeholder="cargo" class="form-control-plaintex" value={{cidade}}>
            <br>
            <label for="apoliceDeSeguro">Apólice de Seguro: </label>
                <input type="text" id="apoliceDeSeguro" name="apoliceDeSeguro" placeholder="apólice de seguro" class="form-control-plaintex" value={{estado}}>
            <br>
            <label for="seguradora">Seguradora: </label>
                <input type="text" id="seguradora" name="seguradora" placeholder="seguradora" class="form-control-plaintex" value={{cep}}>
            <br>
            <label for="bolsaEstagio">Bolsa-Estágio: </label>
                <input type="text" id="bolsaEstagio" name="bolsaEstagio" placeholder="bolsa-estágio" class="form-control-plaintex" value={{fone}}>
            <br>
            <label for="auxilioTransporte">Auxílio-Transporte: </label>
                <input type="text" id="auxilioTransporte" name="auxilioTransporte" placeholder="auxílio-transporte" class="form-control-plaintex" value={{email}}>
            <br>
            <label for="planoDeAtividades">Plano de atividades: </label>
                <input type="text" id="planoDeAtividades" name="planoDeAtividades" placeholder="plano de atividades" class="form-control-plaintex" value={{email}}>
            <br>
            <button>Cadastrar estágio</button>
        </form>
    </div>
</div>