<h3 class="m-2">Novo estagiário</h3>

<form action="/estagiarios/cadastro/novo" method="POST">
  <div class="row ms-2 mt-2">
    <div class="form-group col-md-3">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" placeholder="nome" value={{nome}}>
    </div>

    <div class="form-group col-md-2">
      <label for="dataNascimento">Data de nascimento</label>
      <input type="text" class="form-control" id="dataNascimento" name="dataNascimento" placeholder="dd/mm/AAAA" value={{dataNascimento}}>
    </div>

    <div class="form-group col-md-2">
      <label for="registroAcademico">Registro academico</label>
      <input type="text" class="form-control" id="registroAcademico" name="registroAcademico" placeholder="registro academico" value={{registroAcademico}}>
    </div>
  </div>

  <div class="row ms-2 mt-2">
    <div class="form-group col-md-2">
      <label for="curso">Curso: </label>
      <input type="text" class="form-control" id="curso" name="curso" placeholder="curso" value={{curso}}>
    </div>

    <div class="form-group col-md-2">
      <label for="turno">Turno: </label>
      <input type="text" class="form-control" id="turno" name="turno" placeholder="turno" value={{turno}}>
    </div>
  </div>

  <div class="row ms-2 mt-2">
    <div class="form-group col-md-2">
      <label for="cedulaDeIdentidade">Cedula de identidade: </label>
      <input type="text" class="form-control" id="cedulaDeIdentidade" name="cedulaDeIdentidade" placeholder="cedula de identidade" value={{cedulaDeIdentidade}}>
    </div>

    <div class="form-group col-md-2">
      <label for="cpf">Cpf: </label>
      <input type="text" class="form-control" id="cpf" name="cpf" placeholder="cpf" value={{cpf}}>
    </div>
  </div>

  <div class="row ms-2 mt-2">
    <div class="form-group col-md-2">
      <label for="nacionalidade">Nacionalidade: </label>
      <input type="text" class="form-control" id="nacionalidade" name="nacionalidade" placeholder="nacionalidade" value={{nacionalidade}}>
    </div>

    <div class="form-group col-md-2">
      <label for="estadoCivil">Estado civil: </label>
      <input type="text" class="form-control" id="estadoCivil" name="estadoCivil" placeholder="estado civil" value={{estadoCivil}}>
    </div>
  </div>

  <div class="row ms-2 mt-2">
    <div class="form-group col-md-2">
      <label for="cidade">Cidade: </label>
      <input type="text" class="form-control" id="cidade" name="cidade" placeholder="cidade" value={{cidade}}>
    </div>

    <div class="form-group col-md-2">
      <label for="estado">Estado: </label>
      <input type="text" class="form-control" id="estado" name="estado" placeholder="estado" value={{estado}}>
    </div>

    <div class="form-group col-md-2">
      <label for="cep">Cep: </label>
      <input type="text" class="form-control" id="cep" name="cep" placeholder="cep" value={{cep}}>
    </div>
  </div>

  <div class="row ms-2 mt-2">
    <div class="form-group col-md-2">
      <label for="fone">Fone: </label>
      <input type="text" class="form-control"id="fone" name="fone" placeholder="telefone" value={{fone}}>
    </div>

    <div class="form-group col-md-2">
      <label for="email">Email: </label>
      <input type="text" class="form-control" id="email" name="email" placeholder="email" value={{email}}>
    </div>
  </div>
    <button class="btn btn-primary m-3">Cadastrar estagiário</button>  
</form>